.header-logo {
  @include media-down($large-screen) {
    align-self: center;
    margin-bottom: $medium-spacing;
  }

  @include media-up($large-screen) {
    @include position(fixed, $large-spacing $large-spacing null null);
  }

  svg {
    fill: $gray;
  }
}

.footer-logo {
  svg {
    fill: $white;
  }
}
