.project-content {
  margin-bottom: $controls-height-small;
  text-align: center;

  @include media-up($medium-screen) {
    margin-bottom: $controls-height;
    margin-top: -$medium-spacing;
  }

  @include media-up($large-screen) {
    margin-top: -$large-spacing;
  }
}

.project-images {
  @include media-down($large-screen) {
    border: $base-border;
  }

  @include media-up($large-screen) {
    outline: $base-border;
  }
}

.project-image {
  display: block;
  margin-bottom: $small-spacing;
  width: 100%;
}
