.project-list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.project-list__year-divider {
  color: $gray;
  margin-bottom: $base-spacing;
  position: relative;

  &::before {
    @include position(absolute, 50% 100% null null);
    @include size(calc(#{$medium-spacing} - #{$small-spacing * 2}), 1px);
    background: linear-gradient(to right, transparent , $gray);
    content: "";
    margin-right: $small-spacing;

    @include media-up($large-screen) {
      @include size(calc(#{$large-spacing} - #{$base-spacing * 2}), 1px);
      margin-right: $base-spacing;
    }
  }
}

.project-item {
  margin-bottom: $base-spacing;
  padding: $small-spacing;
  overflow: hidden;
  position: relative;
}

.project-item__title {
  position: relative;
  z-index: $low-z-index;
}

.project-item__background {
  @include position(absolute, 0 null);
  opacity: 0;
  right: 100%;
  transition: all $base-duration $base-timing;
  width: 100%;

  .project-item:hover & {
    opacity: 1;
    right: 0;
  }
}

.project-item__image {
  @include position(fixed, 0);
  align-items: center;
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity $base-duration $base-timing;
  z-index: -1;

  .project-item:hover & {
    opacity: 1;
  }

  img {
    filter: grayscale(100%);
    width: 1000px;
    height: 600px;
    opacity: 0.5;
  }
}
