.controls-wrapper {
  @include position(fixed, null 0 0);
  background-color: $base-background-color;

  @include media-down($large-screen) {
    @include padding(null $base-spacing);
  }
}

.controls {
  align-items: center;
  box-sizing: content-box;
  display: flex;
  height: $controls-height-small;

  @include media-up($medium-screen) {
    height: $controls-height;
  }
}

.control {
  width: calc(100% / 3);
}

.control--home {
  text-align: center;
}

.control--next {
  text-align: right;
}

.control-link {
  align-items: center;
  display: inline-flex;
  overflow: hidden;
  position: relative;

  &:hover {
    .control--home & {
      color: $white;
    }
  }
}

.control-link__icon,
.control-link__label {
  position: relative;
  z-index: $low-z-index;
}

.control-link__label {
  @include margin(null $small-spacing);
  font-size: $medium-font-size;

  @include media-down($medium-screen) {
    display: none;
  }
}

.control-link__background {
  @include position(absolute, 0 null);
  content: "";
  opacity: 0;
  transition: all $base-duration $base-timing;
  width: 100%;

  .control--next & {
    left: 100%;
  }

  .control--previous & {
    right: 100%;
  }

  .control-link:hover & {
    opacity: 1;
  }

  .control--next:hover & {
    left: 0;
  }

  .control--previous:hover & {
    right: 0;
  }
}
