.project-list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.project-list__year-divider {
  color: $medium-gray;
  margin-bottom: $base-spacing;
  position: relative;

  &::before {
    @include position(absolute, 50% 100% null null);
    @include size(calc(#{$large-spacing} - #{$base-spacing * 2}), 1px);
    background: linear-gradient(to right, transparent , $medium-gray);
    content: "";
    margin-right: $base-spacing;
  }
}

.project-item {
  color: $white;
  margin-bottom: $base-spacing;
  padding: $small-spacing;
  position: relative;

  &:hover {
    color: $black;
  }
}

.project-item__title {
  position: relative;
  z-index: 20;
}

.project-item__background {
  @include position(absolute, 0);
  opacity: 0;
  transition: opacity $base-duration $base-timing;
  z-index: 10;

  .project-item:hover & {
    opacity: 1;
  }
}

.project-item__image {
  @include position(fixed, 0);
  align-items: center;
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity $base-duration $base-timing;
  z-index: -1;

  img {
    max-height: 80vh;
    max-width: 80vw;
    opacity: 0.5;
  }

  .project-item:hover & {
    opacity: 1;
  }
}
