
.project-header {
  color: $black;
  padding: $medium-spacing;

  @include media-up($large-screen) {
    padding: $large-spacing $large-spacing $xl-spacing;
  }
}

.project-title {
  display: inline-block;
  position: relative;
}

.project-title__date {
  font-size: $base-font-size;

  @include media-down($large-screen) {
    display: block;
    margin-bottom: $base-spacing;
  }

  @include media-up($large-screen) {
    @include position(absolute, 0 null null 100%);
  }
}

.project-details {
  margin-top: $small-spacing;

  @include media-up($large-screen) {
    margin-top: $base-spacing;
  }
}

.project-images {
  @include media-up($large-screen) {
    margin-top: -$large-spacing;
  }
}

.project-image {
  display: block;
  margin-bottom: $small-spacing;
  width: 100%;
}

.project-controls {
  @include margin($medium-spacing null);
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include media-down($large-screen) {
    @include padding(null $medium-spacing);
  }

  @include media-up($large-screen) {
    @include margin($large-spacing null);
  }
}

.project-control {
  width: calc(100% / 3);
}

.project-control--home {
  text-align: center;
}

.project-control--next {
  text-align: right;
}

.project-control__link {
  align-items: center;
  display: inline-flex;
  position: relative;
}

.project-control__icon,
.project-control__label {
  position: relative;
  z-index: $low-z-index;
}

.project-control__label {
  @include margin(null $small-spacing);
  font-size: $medium-font-size;

  @include media-down($medium-screen) {
    display: none;
  }
}

.project-control__background {
  @include position(absolute, 0);
  content: "";
  opacity: 0;
  transition: opacity $base-duration $base-timing;

  .project-control__link:hover & {
    opacity: 1;
  }
}
