!!!
%html{ lang: "en" }
  = partial "partials/head"
  %body{ class: page_classes }
    = partial "partials/project-header", locals: { project: current_article }
    %section.project-images{ role: "main" }
      .container.project-images
        = yield
    %footer
      .container
        = partial "partials/project-controls", locals: { project: current_article }
