!!!
%html{ lang: "en" }
  = partial "partials/head"
  %body{ class: page_classes }
    .fade-in
      = partial "partials/project-header", locals: { project: current_article }
      %section.project-images
        .container
          = yield
      = partial "partials/project-controls", locals: { project: current_article }
