html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $base-background-color;
}

main {
  .index & {
    align-items: center;
    display: flex;
    min-height: 100vh;
    padding: $medium-spacing;
  }
}

.container {
  @include margin(null auto);
  max-width: $container-width;
}
