html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $base-background-color;
}

main {
  .index & {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: $medium-spacing;

    @include media-up($large-screen) {
      padding: $large-spacing;
    }
  }
}

.container {
  @include margin(null auto);
  max-width: $container-width;
}
