html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-smoothing: antialiased;
  font-size: 100%;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;
}

h2 {
  font-size: $large-font-size;
  font-weight: normal;
  line-height: $heading-line-height;
  margin: 0;

  @include media-up($large-screen) {
    font-size: $xl-font-size;
    line-height: $single-line-height;
  }
}

p {
  margin: 0;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: all $base-duration $base-timing;

  &:hover {
    color: $hover-action-color;
  }
}

time {
  font-family: $monospace-font-family;
}
