// Typography
$base-font-family: "Regular", sans-serif;
$monospace-font-family: "Space Mono", sans-serif;

// Font Sizes
$base-font-size: 1rem;
$medium-font-size: $base-font-size * 1.25;
$large-font-size: $base-font-size * 6.25;

// Line height
$base-line-height: 1.5;
$single-line-height: 1;

// Spacing
$base-spacing: 1.25rem;
$small-spacing: $base-spacing * 0.5;
$medium-spacing: $base-spacing * 5;
$large-spacing: $base-spacing * 7.5;

// Colors
$black: #000;
$gray: #777;
$white: #fff;

// Font Colors
$base-font-color: $white;
$action-color: $white;
$hover-action-color: $black;

// Background Colors
$base-background-color: $black;

// Animations
$base-duration: 300ms;
$base-timing: ease;

// Sizes
$container-width: 1100px;

// Z-Index
$low-z-index: 10;
