// Typography
$base-font-family: "Regular", sans-serif;
$monospace-font-family: "Space Mono", sans-serif;

// Font Sizes
$base-font-size: 1rem;
$medium-font-size: $base-font-size * 1.25; // 20
$large-font-size: $base-font-size * 2.25; // 36
$xl-font-size: $base-font-size * 3.125; // 50
$xxl-font-size: $base-font-size * 6.25; // 100

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;
$single-line-height: 1;

// Spacing
$base-spacing: 1.25rem; // 20
$small-spacing: $base-spacing * 0.5; // 10
$medium-spacing: $base-spacing * 2.5; // 50
$large-spacing: $base-spacing * 5; // 100
$xl-spacing: $base-spacing * 7.5; // 150

// Colors
$black: #000;
$gray: #777;
$white: #fff;

// Font Colors
$base-font-color: $white;
$action-color: $white;
$hover-action-color: $black;

// Background Colors
$base-background-color: $black;

// Animations
$base-duration: 300ms;
$base-timing: ease-in-out;

// Sizes
$container-width: 1100px;
$controls-height: 60px;

// Z-Index
$low-z-index: 10;
