// Typography
$base-font-family: "Space Mono", sans-serif;
$heading-font-family: "Regular Semibold", sans-serif;

// Font Sizes
$base-font-size: 1rem;
$large-font-size: $base-font-size * 6.25;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;
$single-line-height: 1;

// Spacing
$base-spacing: 1.25rem;
$small-spacing: $base-spacing * 0.5;
$medium-spacing: $base-spacing * 2;
$large-spacing: $base-spacing * 5;

// Colors
$black: #000;
$medium-gray: #777;
$white: #fff;

// Font Colors
$base-font-color: $black;
$action-color: $white;

// Background Colors
$base-background-color: $black;

// Animations
$base-duration: 300ms;
$base-timing: ease;
