%header.project-header{ style: "background: #{project.data.color}" }
  .container
    %h2.project-title
      %time.project-title__date= project.date.strftime("%Y")
      = project.title
    %p.project-details= project.tags.join(', ')
