---
title: Spookstrology
date: 2016-12-01
tags: concept, research, visual design, front-end
color: "linear-gradient(-90deg, #F7A9D0 0%, #F8B1BA 0%, #F8C380 40%, #88D6FF 71%, #A29CFF 100%)"
preview_image: "spookstrology.png"
image_folder: "spookstrology"
external_link: "https://robots.thoughtbot.com/building-a-react-native-app-in-two-days"
external_link_text: "Learn How We Built It"
---
