---
title: Baseball App
date: 2017-05-01
tags: design sprint, ui, ux
color: "#00D475"
preview_image: "baseball.png"
image_folder: "baseball"
external_link: "https://robots.thoughtbot.com/the-remix"
external_link_text: "Learn About Remixing"
---
