---
title: Elm
date: 2017-08-01
tags: concept, visual design, front-end
color: "#7DF488"
image: "elm.gif"
---

.project-images
  = image_tag "elm/1.jpg", class: "project-image project-image--half"
  = image_tag "elm/2.jpg", class: "project-image project-image--half"
  = image_tag "elm/3.jpg", class: "project-image"
