.logo= svg("logo")

%section.project-timeline
  %time.time-divider 2017
  - data.projects_2017.each do |project|
    = partial "partials/project-link", locals: { title: project.title,
      color: project.color, image: project.image }
  %time.time-divider 2016
  - data.projects_2016.each do |project|
    = partial "partials/project-link", locals: { title: project.title,
      color: project.color, image: project.image }
